:root {
	--color-dark: #000000;
	--color-light: #ffffff;
	--color-accent: #656ed3;
	--color-secondary: #afb3ff;
	--color-red: #ff5500;
	--color-green: #10f31f;

	--container-width: 1140px;
	--container-padding-x: 16px;

	--border: 1px solid var(--color-accent);

	--transition-duration: 0.3s;
}
